* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
  min-height: 100vh;
  margin: 0;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#app {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  text-align: center;
  color: #555;
  font-size: 14px;
  margin: 8px 0;
}

.info-wrapper{
  padding-top:20px;
  padding-bottom:30px;
}
.info-wrapper > .info{ font-size: 16px;  }

/* 购买链接 */
.buy-links {
  display: none;
}



.category-title {
  font-size: 1.2em;
  color: #2d3436;
  margin-bottom: 20px;
  font-weight: 500;
}

/* View More 按钮 */
    .fancy-button {
      /*margin-top: 20px;*/
      margin-bottom: 20px;
      background: transparent;
      border: 1px solid #333;
      border-radius: 8px;
      padding: 6px 12px;
      font-size: 16px;
      font-weight: 500;
      color: #333;
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      gap: 8px;
      transition: all 0.3s ease;
      cursor: pointer;
    }

    .fancy-button .arrow {
      font-size: 18px;
      transition: transform 0.3s ease;
    }

    .fancy-button:hover {
      background: rgba(0,0,0,0.05);
      border-color: #555;
      color: #555;
    }

    .fancy-button:hover .arrow {
      transform: translateX(5px);
    }